<%- include('./partials/head') %>

<header>
  <h1>Squad Page</h1>
</header>
<main>
  <h2>Bladeren</h2>
  <nav>
    <a href="/?squad=squad-a-2022">Squad a</a>
    <a href="/?squad=squad-b-2022">Squad b</a>
    <a href="/?squad=squat-c-2022">Squad c</a>
    <a href="/?squad=founders-2021">Founders</a>
  </nav>

  <hr class="divider"></hr>

  <section class="filter-section"> 
    <p class="filter">Filter op tag</p>
    <p class="sort">Sorteren op</p>
  </section>

  <section class="cards-container">
    <% if (squad) { %> 
      <% squad.members.forEach(member => { %>
      <article class="card">
        <div class="image-container">
          <img class="card-image" src="<%- member.avatar %>" alt="Avatar van <%= member.name %>">
        </div>
        
        <div class="info-area">
          <h3><%= member.name + " " + member.prefix + " " + member.surname %></h3>
          <div class="tags">
            <a class="tag" href="<%= member.website %>" target="_blank">Website</a>
          </div>
        </div>
      </article>
    <% })} %>
  </section>
  <h1></h1>
</main>

<%- include('./partials/foot') %>
